html, body, div, span, p, a, em, img, small, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 100%;
  box-sizing: border-box;
}
body {
  font-family: arial, sans-serif;
  font-size: 15px;
  line-height: 1;
}
a {
  text-decoration: none;
}
ol, ul {
  list-style: none;
}
